/* Variables */

$dancing-font : 'Dancing Script', cursive;
$lato-font : 'Lato', sans-serif;
$yellowish-nav : rgba(247, 242, 238, 1);

/* Font Variables */

$lato100 : 100;
$lato300 : 300;
$lato400 : 400;
$lato700 : 700;
